@import url("../common.css");

/* fx:id不支持分隔符"-" */
#main_view {
	-fx-background-color: transparent;
}

#cover_art_progress_box, #audio_progress {
	-fx-background-color: #464646;
	-fx-pref-width: 93;
	-fx-pref-height: 93;
	-fx-background-radius: 100;
	-fx-border-radius: 100;
}

#cover_art {
	-fx-padding: 0;
	-fx-background-radius: 100;
	-fx-border-radius: 100;
}

#main_pane, #metadata_lyric_pane {
	-fx-background-color: #313131;
	-fx-pref-width: 410;
	-fx-pref-height: 90;
	-fx-background-radius: 12 12 0 0;
	-fx-border-radius: 12 12 0 0;
}

#actions_box, #metadata_box, #lyric_box {
	/*-fx-background-color: red;*/
	-fx-pref-width: 280;
	-fx-pref-height: 90;
}

#audio_title {
	-fx-padding: 1 10;
	-fx-font-size: 20;
	-fx-font-weight: bold;
}

#audio_artist, #line_1, #line_2 {
	-fx-padding: 1 10;
	-fx-font-size: 16;
	-fx-font-weight: bold;
}

.lyric-line {
	-fx-font-size: 18 !important; 
}

.lyric-line-current {
	-fx-font-size: 20 !important;
	-fx-text-fill: #1ca388;
}

.bottom-radius {
	-fx-background-radius: 12 !important;
	-fx-border-radius: 12 !important;
}

#close_btn {
	-fx-padding: 1 3;
	-fx-background-radius: 100;
	-fx-border-radius: 100;
}
