.label {
	-fx-padding: 5 15;
	-fx-text-fill: #fff;
	-fx-font-family: "Microsoft YaHei";
}

.theme-bg {
	-fx-background-color: #1ca388;
}

.image-btn {
	-fx-cursor: hand;
}

.image-btn-hover {
	-fx-background-color: #1ca388;
	-fx-background-radius: 20;
}

.label-logo {
	-fx-padding: 3 8.25;
	-fx-background-color: #1ca388;
	-fx-border-width: 1;
	-fx-border-radius: 99 0 99 99;
	-fx-background-radius: 99 0 99 99;
	-fx-font-size: 15;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-cursor: hand;
}

.dev-mode-bg {
	-fx-background-color: #ec4141;
}

.dev-mode-text {
	-fx-text-fill: #ec4141 !important;
}

.label-logo-hover {
	-fx-background-color: #50bde2;
	-fx-background-color: #168242;
	-fx-background-color: #ec4141;
	-fx-background-color: #2d6bc2;
}

.label-btn {
	/*-fx-pref-width: 36;*/
	-fx-cursor: hand; 
	/* -fx-text-fill: #fff; */
}

.label-hover {
	-fx-background-color: #464646 !important;
}

.label-hover-red {
	-fx-background-color: #ec4141 !important;
}

.bottom-border-dark {
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #1b1b1b;
}