@import url("common.css");

#lyric_view {
	-fx-background-color: transparent;
	-fx-background-color: #313131;
	-fx-padding: 5 5 25 5;
}

#lyric_view .label {
	-fx-padding: 2 10;
}

#top_nav {
	-fx-pref-height: 20;
}

.lyric-line {
	-fx-font-size: 25;
	-fx-font-weight: bold;
}

.lyric-line-current {
	-fx-font-size: 30;
	-fx-text-fill: #1ca388;
}
