@import url("common.css");
@import url("slider_bar.css");
@import url("visualization.css");

/* fx:id不支持分隔符"-" */
#main_view {
	-fx-background-color: #313131;
	/* -fx-background-color: linear-gradient(to right top, #ff00cc, #333399); */
}

#main_top {
	-fx-pref-height: 32;
}

#main_center {
	-fx-padding: 10 15;
}

#main_bottom {
	-fx-pref-height: 56;
}

#l_extra_box {
	-fx-padding: 0 0 0 12;
}

#audio_time {
	-fx-font-size: 16;
	-fx-font-weight: bold;
	-fx-padding: 5;
}

.app-title {
	-fx-font-size: 16;
	-fx-font-weight: bold;
	-fx-text-fill: #168242;
	-fx-text-fill: #1ca388;
	-fx-max-width: 520;
}

.cover-art {
	-fx-pref-width: 222;
	-fx-pref-height: 222;
	-fx-border-width: 3;
	-fx-border-color: #1b1b1b;
	-fx-padding: 0;
}

.audio-title {
	-fx-min-height: 125;
	-fx-font-size: 28;
	-fx-font-weight: bold;
	-fx-wrap-text: true;
	-fx-padding: 5 15 25 15;
	-fx-text-fill: #f0f0f0;
}

.audio-artist, .audio-album {
	-fx-font-size: 18;
	-fx-font-weight: bold;
	-fx-text-fill: #c0c0c0;
}

.playlist-btn {
	-fx-cursor: hand;
	-fx-padding: 6;
}
