.m-progress-bar {
	-fx-pref-height: 4;
	-fx-cursor: hand;
	-fx-background-color: #464646;
	/*-fx-background-color: #58b4c8;*/
}

.m-progress-bar .progress {
	-fx-pref-width: 0;
	-fx-background-color: #1ca388;	
	/*-fx-background-color: #f0f0f0;*/	
}